
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Đăng kí thành công</title>
</head>
<body>
    <div class="container">
        <div class="body">
            <h1>Đăng kí thành công! Chào mừng, {{user.lastname}}!</h1>
            <a href="http://192.168.191.178:8080">Nhấn vào đây để chuyển đến trợ li</a>

            
            <div class="row"></div>

            <p class="d-flex justify-content-end">
                <a type="button" class="btn btn-warning text-dark" href="/reset">Quay lại</a>
            </p>
        </div>
    </div>
</body>
</html>